.font-h1 {
    font-family: 'Playfair Display', serif;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid gray;
    margin-bottom: 16px;
}

.NavbarTitle {
    font-size: 32px;
    font-family: 'Charm', cursive;
}

.Footer {
    font-family: 'Playfair Display', serif;
    padding-top: 16px;
    font-weight: 100;
    color: #333333;
}

.CategoriesList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    font-style: italic;
}

.PostDate {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #333333;
}

.PostCategories {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #c4010a;
    font-weight: 500;
    font-style: italic;
}

.PostTitle {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 18px;
    padding-top: 12px;
}

.PostDirectedBy {
    font-family: 'Playfair Display', serif;
    color: #333333;
}

.PostLink {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #c4010a;
}